NAME
    nsc - NetSuite account customization assistant

SYNOPSIS

    nsc init - Initialize a new project on the current folder

    nsc import record [url] - Import a record definition from cache or URL the NetSuite Record Browser
    
    rebuild - Rebuild type definitions for custom records, fields, and sublists in the Objects folder
    
    nsc add project - Add a new project folder and README.md file to the vendor folder
    
    nsc add script - Select a NetSuite script to generate .ts and .xml files. Use the `no-deploy` flag to skip creating the .xml
    
    nsc add types - Add a types.d.ts file to the project
    
    nsc add api - Add an API class file to interface with third party systems
    
    nsc add module - Add a custom module file to the project
