NAME
    nsc - NetSuite companion tool

SYNOPSIS
    nsc subcommand-1 [--option-1 <variable-name>]
                         --option-2 (enum-1|enum-2|enum-3)
                         [--verbose] [--debug] <naked-variable>


    nsc subcommand-2


SEE ALSO
    * npm docs
    * npm home
    * https://www.npmjs.org/
    
ABOUT
    Manon will concatenate sibling lines into one line. 
    If the concatenated line is too long