<mapreducescript scriptid="{{scriptId}}">
  <description>{{description}}</description>
  <isinactive>F</isinactive>
  <name>{{name}}</name>
  <notifyadmins>F</notifyadmins>
  <notifyemails></notifyemails>
  <notifyowner>T</notifyowner>
  <scriptfile>[{{scriptfile}}]</scriptfile>
</mapreducescript>
