<restlet scriptid="customscript_clr_integracion_backend">
  <description>Recibe y enruta pedidos</description>
  <isinactive>F</isinactive>
  <name>Integracion Backend - Captura de Pedidos</name>
  <notifyadmins>F</notifyadmins>
  <notifyemails></notifyemails>
  <notifyowner>T</notifyowner>
  <notifyuser>F</notifyuser>
  <scriptfile>[/SuiteScripts/Cloud River/Integracion Backend/clr_integracion_backend_restlet.js]</scriptfile>
  <scriptdeployments>
    <scriptdeployment scriptid="customdeploy_clr_integracion_backend">
      <allemployees>T</allemployees>
      <allpartners>F</allpartners>
      <allroles>F</allroles>
      <audslctrole></audslctrole>
      <isdeployed>T</isdeployed>
      <loglevel>ERROR</loglevel>
      <status>RELEASED</status>
      <title>Integracion Backend - Captura de Pedidos</title>
    </scriptdeployment>
  </scriptdeployments>
</restlet>