<scheduledscript scriptid="{{scriptId}}">
  <description>{{description}}</description>
  <isinactive>F</isinactive>
  <name>{{name}}</name>
  <notifyadmins>F</notifyadmins>
  <notifyemails></notifyemails>
  <notifyowner>T</notifyowner>
  <scriptfile>[{{scriptfile}}]</scriptfile>
  <scriptdeployments>
    <scriptdeployment scriptid="{{deploymentId}}">
      <isdeployed>T</isdeployed>
      <loglevel>DEBUG</loglevel>
      <status>NOTSCHEDULED</status>
      <title>{{name}}</title>
      <recurrence>
        <single>
          <repeat></repeat>
          <startdate>2020-01-01</startdate>
          <starttime>23:00:00Z</starttime>
        </single>
      </recurrence>
    </scriptdeployment>
  </scriptdeployments>
</scheduledscript>