<suitelet scriptid="customscript_clr_integracion_backend_log">
  <description>Lee logs para trabajos de integracion</description>
  <isinactive>F</isinactive>
  <name>Integracion Backend - Logs</name>
  <notifyadmins>F</notifyadmins>
  <notifyemails></notifyemails>
  <notifyowner>T</notifyowner>
  <notifyuser>F</notifyuser>
  <scriptfile>[/SuiteScripts/Cloud River/Integracion Backend/integration_task/clr_integracion_backend_logs_suitelet.js]</scriptfile>
  <scriptdeployments>
    <scriptdeployment scriptid="customdeploy_clr_integracion_backend_log">
      <allemployees>T</allemployees>
      <allpartners>F</allpartners>
      <allroles>F</allroles>
      <audslctrole></audslctrole>
      <eventtype></eventtype>
      <isdeployed>T</isdeployed>
      <isonline>F</isonline>
      <loglevel>ERROR</loglevel>
      <runasrole>ADMINISTRATOR</runasrole>
      <status>RELEASED</status>
      <title>Integracion Backend - Logs</title>
    </scriptdeployment>
  </scriptdeployments>
</suitelet>