<workflowactionscript scriptid="customscript_clr_apflow_next">
  <description>Selecciona la próxima linea de aprobación en la cadena</description>
  <isinactive>F</isinactive>
  <name>Aprobación Compras - Próximo Aprobador</name>
  <notifyadmins>F</notifyadmins>
  <notifyemails></notifyemails>
  <notifyowner>T</notifyowner>
  <notifyuser>F</notifyuser>
  <returnrecordtype>-4</returnrecordtype>
  <returntype>SELECT</returntype>
  <scriptfile>[/SuiteScripts/Cloud River/Flujo de Aprobacion/clr_apflow_next_workflowaction.js]</scriptfile>
  <scriptcustomfields>
    <scriptcustomfield scriptid="custscript_clr_apflow_next_template">
      <accesslevel>2</accesslevel>
      <applyformatting>F</applyformatting>
      <checkspelling>F</checkspelling>
      <defaultchecked>F</defaultchecked>
      <defaultselection></defaultselection>
      <defaultvalue></defaultvalue>
      <description>Plantilla de correo para aprobación</description>
      <displayheight></displayheight>
      <displaytype>NORMAL</displaytype>
      <displaywidth></displaywidth>
      <dynamicdefault></dynamicdefault>
      <fieldtype>SELECT</fieldtype>
      <help>Plantilla de correo para aprobación</help>
      <isformula>F</isformula>
      <ismandatory>F</ismandatory>
      <label>Plantilla de Correo</label>
      <linktext></linktext>
      <maxlength></maxlength>
      <maxvalue></maxvalue>
      <minvalue></minvalue>
      <onparentdelete>NO_ACTION</onparentdelete>
      <searchlevel>2</searchlevel>
      <selectrecordtype>-120</selectrecordtype>
      <setting></setting>
      <storevalue>T</storevalue>
    </scriptcustomfield>
  </scriptcustomfields>
  <scriptdeployments>
    <scriptdeployment scriptid="customdeploy_clr_apflow_next_pr">
      <allemployees>T</allemployees>
      <allpartners>F</allpartners>
      <allroles>F</allroles>
      <audslctrole></audslctrole>
      <custscript_clr_apflow_next_template></custscript_clr_apflow_next_template>
      <isdeployed>T</isdeployed>
      <loglevel>ERROR</loglevel>
      <recordtype>PURCHASEREQUISITION</recordtype>
      <runasrole></runasrole>
      <status>RELEASED</status>
    </scriptdeployment>
    <scriptdeployment scriptid="customdeploy_clr_apflow_next_po">
      <allemployees>T</allemployees>
      <allpartners>F</allpartners>
      <allroles>F</allroles>
      <audslctrole></audslctrole>
      <custscript_clr_apflow_next_template></custscript_clr_apflow_next_template>
      <isdeployed>T</isdeployed>
      <loglevel>ERROR</loglevel>
      <recordtype>PURCHASEORDER</recordtype>
      <runasrole></runasrole>
      <status>RELEASED</status>
    </scriptdeployment>
    <scriptdeployment scriptid="customdeploy_clr_apflow_next_vb">
      <allemployees>T</allemployees>
      <allpartners>F</allpartners>
      <allroles>F</allroles>
      <audslctrole></audslctrole>
      <custscript_clr_apflow_next_template></custscript_clr_apflow_next_template>
      <isdeployed>T</isdeployed>
      <loglevel>ERROR</loglevel>
      <recordtype>VENDORBILL</recordtype>
      <runasrole></runasrole>
      <status>RELEASED</status>
    </scriptdeployment>
  </scriptdeployments>
</workflowactionscript>